body{
    font-family: 'Roboto', sans-serif;
    color: #212121;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}

.logo{
    font-family: 'Raleway', sans-serif ;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    
        color: #000000;
}
.logo-start {
    color: #2196F3;

}

.nav-list-link{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.nav-list-link:hover,
.nav-list-link:focus {
    color: #2196F3;
}
.contact-header{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #757575;

}
.contact-header:hover,
.contact-header:focus  {
color: #2196F3;
}
.modal-btn{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        background-color: #188CE8;
        color: #FFFFFF;
        cursor: pointer;
}
.section-main{
    background-color: #2F303A;
}
.main-title{
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: #FFFFFF;
}
.main-description{
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
    
}
.main-sub-title{
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
}
.name-img{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
    
}

.about-img{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19px;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #757575;
}
.footer{
    background-color: #2F303A; 
}
.contact-futer {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
             
        color: rgba(255, 255, 255, 0.6);

}
/* ==============START PORTFOLIO============== */
.portfolio-name-img{
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: #212121;
}
.portfolio-about-img{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
    
        color: #757575;
}

.contact-futer-addres{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.contact-futer:hover,
.contact-futer:focus,
.contact-futer-addres:hover,
.contact-futer-addres:focus {
    color: #2196F3;
}

.portfolio-butn{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
       
        text-align: center;
        letter-spacing: 0.03em;
    cursor: pointer;
        

}
.portfolio-butn:hover,
.portfolio-butn:focus
 { background: #2196F3;
    color: #ffffff;
 }
/* ==============END PORTFOLIO============== */